name: test
concurrency:
  group: test-${{ github.ref }}
on:
  pull_request:

jobs:
  unit:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: '^1.24'
      - run: make install-tools
      - run: make test-all
